<!doctype html>
<html>
<head>
    <title>Category</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/auth.css" asp-append-version="true" />
</head>
<%- include('../../partials/header.ejs') %>
<body>
    <div class="container">
        <form action="createCategory" method="post">
        <div class="container">
        <h1>Создать категорию</h1>
        <hr>

        <label for="name"><b>Название</b></label>
        <input type="text" placeholder="Закуски" name="name" required>

        </div>
        <button type="submit" class="registerbtn">Создать</button>
        </form>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
</html>